@model IEnumerable<AutomotiveRepairSystem.Models.Customer>
@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>
<a asp-controller="Customer" asp-action="Create">Create Customer</a>
<br /> 
<br />

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Email</td>
                    <td>@customer.Phone</td>
                    <td>
                        <a asp-controller="Customer" asp-action="Delete" asp-route-customerId="@customer.CustomerId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
